.Frame.Blahg {
    height: 8rem;
    min-width:50%;
}

.Frame.Blahg:hover {
    cursor: pointer;
}

.Frame.Blahg.open {
    height:auto;
}

.Frame.Blahg.open:hover {
    cursor: default;
}

h3 {
    color: orchid;
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.6rem;
    margin-left:2rem;
    margin-right:2rem;
}

p.date {
    text-align:center;
}
