.Frame.Blahg {
    min-width: 50%;
}

.Frame.Blahg:hover {
    cursor: pointer;
}

.Frame.Blahg.open {
    height: auto;
}

.Frame.Blahg.open:hover {
    cursor: default;
}

a {
    text-decoration: none;
    color: black;
}

h2 {
    color: #800080;
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.6rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

p.date {
    text-align: center;
}
