.Frame.Blahg {
    padding-left: 2rem;
    padding-right: 2rem;
    height: 7rem;
}

.Frame.Blahg.open {
    height:auto;
    padding-left: 0rem;
    padding-right: 0rem;
}

.Blahg h2 {
    color: orchid;
    text-decoration: underline;
}

.Blahg p {
    text-align: left;
    margin-right: 1rem;
    margin-left: 1rem;
}

.Blahg p.content {
    white-space: pre-wrap;
}

.Blahg p.date {
    text-align:center;
}