html, body {
    height: 100%;
    max-height:100%;
    max-width:100%;
    margin: 0;
    text-decoration:wavy;
    font-family: Monotony;
}

html {
    background-image: url("/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(25, 86, 15);
}

@keyframes rotate-header {
    0% {transform: rotate(2deg);}
    25% {transform: rotate(-1deg);}
    50% {transform: rotate(1deg);}
    75% {transform: rotate(-2deg);}
    100% {transform: rotate(2deg);}
}

@keyframes rotate-menu {
    0% {transform:rotate(1deg);transform:translateY(0rem);}
    50% {transform:rotate(-1deg);transform:translateY(0.2rem);}
    100% {transform:rotate(1deg);transform:translateY(0rem);}
}

#header-image {
    width: 90%;
    position: relative;
    left: 4%;
    filter: drop-shadow(0px 0.25rem 0.5rem rgba(0,0,0,0.75));
    animation: rotate-header 10s linear infinite;
}

.menu-button {
    transition: all .5s;
    width: 10rem;
    position: absolute;
    filter: drop-shadow(0px 0.25rem 0.25rem rgba(0,0,0,0.5));
    animation: rotate-menu 5s linear infinite;
}

.menu-button:hover {
    transition: all 1s;
}

#art-button {
    left: 8%;
    bottom: 40%;
    animation-delay:1ms;
    animation-duration: 5s;
}

#art-button:hover{
    filter: drop-shadow(0 0.25rem 0.25rem #bb00ff);
}

#blahg-button {
    right: 9%;
    bottom: 31%;
    width: 9rem;
    animation-delay:2s;
    animation-duration: 4s;
}

#blahg-button:hover {
    filter: drop-shadow(0 0.25rem 0.25rem rgb(158, 125, 16));
}

#music-button {
    left: 6%;
    bottom: 12%;
    animation-delay: 1.7s;
}

#music-button:hover {
    filter: drop-shadow(0 0.25rem 0.25rem rgb(62, 71, 255));
}

#contact-button {
    right: 15%;
    bottom: 7%;
    animation-delay:3s;
}

#contact-button:hover {
    filter: drop-shadow(0 0.25rem 0.25rem rgb(23, 91, 11));
}
