#ArtGallery {
    position:absolute;
    display:flex;
    flex-wrap:wrap;
    flex-flow: row wrap;
    width:100%;
    height:100%;
    overflow:auto;
    justify-content:center;
}

.ArtFrame {
    background-color: white;
    border:3px solid;
    border-radius:6px;
    margin-top:2rem;
    margin-bottom:2rem;
    max-width:95%;
}

.Frame0 {
    margin-top:12rem;
}

.Frame1 {
    left:101%;
}

.Frame2 {
    left: 200%;

}

.ArtPiece {
    max-width:100%;
}