#single-page-header-image {
    position: absolute;
    max-width: 30%;
    max-height:5rem;
    height:20%;
    transform:rotateZ(-20deg);
    top: 11rem;
    left: 4%;
    z-index:20;
}

#header-image.single {
    position: absolute;
    max-height:10rem;
    top: 1rem;
    margin-top: 0;
    z-index: 13;
    right:2%;
    left:auto;
}

h1 {
    margin-top:4rem;
    text-align: center;
    padding-right: 0;
    font-size: 2.5rem;
}

p {
    font-size: 1.25rem;
    text-align: center;
    padding-right: 0;
}