html, body {
    height: 100%;
}

@keyframes rotate-header {
    0% {transform: rotate(3deg);}
    25% {transform: rotate(-2deg);}
    50% {transform: rotate(3deg);}
    75% {transform: rotate(-1deg);}
    100% {transform: rotate(3deg);}
}

@keyframes rotate-menu {
    0% {transform:rotate(1deg);}
    50% {transform:rotate(-1deg);}
    100% {transform:rotate(1deg);}
}

body {
    background: #7accda;
    background: linear-gradient(90deg, rgba(0,212,255, 1) 0%,
        rgb(150, 238, 255) 45%,
        rgb(150, 238, 255) 55%,
        /* rgba(255, 255, 255, 1) 66%, */
        rgba(0,212,255,1) 100%);
}

#header-image {
    width: 90%;
    position: relative;
    left: 4%;
    filter: drop-shadow(0px 0.25rem 0.5rem rgba(0,0,0,0.75));
    animation: rotate-header 10s linear infinite;
}

.menu-button {
    transition: all .5s;
    width: 10rem;
    position: absolute;
    filter: drop-shadow(0px 0.25rem 0.25rem rgba(0,0,0,0.5));
    animation: rotate-menu 5s linear infinite;
}

.menu-button:hover {
    transition: all 1s;
}

#art-button {
    left: 8%;
    top: 30%;
    animation-delay:1ms;
    animation-duration: 5s;
}

#art-button:hover{
    filter: drop-shadow(0 0.25rem 0.25rem #bb00ff);
}

#blahg-button {
    right: 9%;
    top: 46%;
    width: 9rem;
    animation-delay:2s;
    animation-duration: 4s;
}

#blahg-button:hover {
    filter: drop-shadow(0 0.25rem 0.25rem rgb(158, 125, 16));
}

#music-button {
    left: 15%;
    top: 61%;
}

#music-button:hover {
    filter: drop-shadow(0 0.25rem 0.25rem rgb(62, 71, 255));
}

#contact-button {
    right: 20%;
    top: 79%;
}

#contact-button:hover {
    filter: drop-shadow(0 0.25rem 0.25rem rgb(23, 91, 11));
}
