/* Art Gallery Layout */
.art-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 17rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.art-gallery-item {
    transition: transform 0.2s ease-in-out;
}

.art-gallery-item:hover, .art-gallery-item:focus-within {
    transform: translateY(-5px);
}

.art-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.art-link:hover {
    text-decoration: none;
}

/* Art piece styling */
.ArtPiece {
    max-width: 100%;
    filter: drop-shadow(0px 1px 3px gray);
}

/* Frame styling */
.Frame, .Frame0 {
    background-color: white;
    border: 3px solid;
    border-radius: 6px;
    padding: 1rem;
    filter: drop-shadow(0px 3px 10px black);
}

.instagram-link-container {
    background-color:#6fafef;
    padding:0.5rem 1rem;
    border-radius:8px;
    box-shadow:0px 2px 5px rgba(0,0,0,0.3);
    transition:background-color 0.3s ease;
    border-width: 2px;
    border-style: solid;
    border-color: #000;
}
.instagram-link {
    outline:none;
}
.instagram-link-container:focus-within{
    outline: 2px solid red;
    box-shadow: 0 0 0 3px white;
}
.instagram-link-container:hover, .instagram-link-container:focus-within {
    background-color:#BFDBF8;
}
.instagram-link-container:hover{
    cursor:pointer;
}

.instagram-link-container a {
    color:#000;
    text-decoration:none;
}

.instagram-link-container img{
    margin-right:0.5rem;
    vertical-align: text-bottom;
}